* {
  margin: 0;
  padding: 0;
}

body {
color: rgb(151, 17, 17);
font-size: small bold;
font-family: 'Shadows Into Light', cursive;
}

.backgroundCartWidget {
  color: rgb(18, 15, 15);
  background-color: rgb(220, 220, 220);
}

.backgroundCard {
  color: white;
  background-color:  black;
}

.portrait {
  padding-bottom: 50px;
}

.text-card {
  text-align: center;
  font-family: 'El Messiri', sans-serif;
}

.text-ul {
  font-family: 'El Messiri', sans-serif;
}

.text-footer {
  color: rgb(15, 14, 14);
text-decoration: none;
}

